@model SoundSharpMVCWithDB.Models.VMCdDiscMan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VMCdDiscMan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceExBtw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceExBtw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MbSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MbSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayHeight)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.IsEjected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEjected)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SerialId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
