@model IEnumerable<SoundSharpMVCWithDB.Models.VMCdDiscMan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceExBtw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MbSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayWidth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayHeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEjected)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceExBtw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MbSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayWidth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayHeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEjected)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SerialId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SerialId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SerialId })
        </td>
    </tr>
}

</table>
